@layout('layouts/app')

@set('title', 'Student create')

@section('content')

  <div class="grid grid-cols-12 gap-4">
      <div class="col-span-full	">

          <div class="py-2 my-5">
            <a href="/student/create" class="bg-indigo-800 rounded-lg px-5 py-2 text-white text-lg">Back</a>
          </div>

      </div>
  </div>




@end
